---
import BaseLayout from '../layouts/BaseLayout.astro';

/*const projects = [
  { name: "NEXIS_CORE", desc: "C++ Engine // Low-level systems architecture.", link: "#" },
  { name: "GHOST_PORTFOLIO", desc: "Astro-based static site // Zero-footprint deployment.", link: "#" }
];*/
---

<BaseLayout title="Nexis">
  <main class="content-wrapper">
    <header class="hero">
      <h1 class="gradient-text">Hey, I'm Nexis!</h1>
      <p class="subtitle">Welcome to my web!</p>
    </header>
  </main>
</BaseLayout>